@mixin solid-course {
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.library-course-selected {
    @include solid-course;
}

.library-course {
    display: grid;
    grid-template-columns: 25px [content-s] 1fr [content-e arrow-s] 47px [arrow-e action-s] 58px [action-e];
    grid-template-rows: 12px [title-s] 32px [title-e line-s] 44px [line-e description-s] 1fr [description-e] 12px;
    align-items: center;

    &__title-check {
        display: flex;
        grid-column: content-s/content-e;
        grid-row: title-s/title-e;
    }

    &__title {
        color: $gray;
        font-family: $lato;
        font-size: 18px;
        line-height: 22px;
    }

    &__line {
        grid-column: content-s/action-e;
        grid-row: line-s/line-e;
        border-bottom: 1px solid #F2F2F2;
        margin-top: 19px;
        margin-bottom: 24px;
        padding-top: 19px;
    }

    &__icon {
        color: $blue;
        padding-left: 16px;
        font-size: 24px;
    }

    &__arrow {
        grid-column: arrow-s/arrow-e;
        grid-row: title-s/title-e;
    }

    &__action {
        grid-column: action-s/action-e;
        grid-row: title-s/title-e;
        justify-self: center;
    }

    &__description {
        grid-column: content-s/action-e;
        grid-row: description-s/description-e;
        // padding-top: 24px;
        padding-bottom: 12px;

        label {
            color: $blue;
            font-family: $aleg;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        p {
            color: $gray;
            font-family: $lato;
            font-size: 16px;
        }
    }

    &:hover {
        @include solid-course;
    }
}