.library {
    grid-column: library-s/library-e;
    grid-row: 1/-1;

    overflow: hidden;
    height: 100%;
    width: 100%;

    position: relative;

    &__title {
        grid-column: 1/-1;
        color: $blue;
        font-family: $aleg;
        font-size: 34px;
        font-weight: bold;
        border-left: 2px solid $blue;
        padding: 20px 40px;
    }

    &__course {
        grid-row: courses-s/courses-e;
        grid-column: 1/-1;
    }
}

.library-container {
    display: grid;
    grid-template-rows: [courses-s] repeat(auto-fit, 1fr) [courses-e];
    grid-template-columns: 1fr;
    grid-row-gap: 22px;

    padding: 7% 0% 5% 5%;
    overflow-y: scroll;

    height: 100%;
    width: 95%;

    position: absolute;
    right: -10px;
}